<html>
<body>
<div id="introduction" style="display:none">
    <h3>Introduction to BBA project</h3>
    <p>
        The BioBehavioral Assessment (BBA) program was developed in 2001 to assess infant rhesus monkeys’ temperament,
        emotionality, and behavioral and physiological reactivity. This information can be used by Primate Center staff
        and by Center research scientists to test ideas about how differences among individuals in these processes could
        affect management practices (e.g., what are the characteristics of animals that develop abnormal behaviors, or
        poor maternal behavior, or poor adaptation during pairings) or research outcomes (e.g., what are the
        characteristics of animals that progress to disease most rapidly, or that adjust well to chairing, or that are
        outliers in my data set; how should I assign animals to experimental groups?).
    </p>
    <p>
        The rationale for this project is the result of more than two decades of research in Psychology, Biological
        Psychology, and Primatology. This research has shown that many biobehavioral traits that animals possess (often
        described as temperament, personality, or reactivity) are present and measurable in early life, and are stable
        throughout life. Individual differences in these traits have been linked to variation in important outcomes,
        ranging from social behavior, to alcohol consumption, to brain function, to disease processes.
    </p>
    <p>
        John Capitanio is Principal Investigator on the project, which also originally included Bill Mason and Sally
        Mendoza as collaborating investigators. The research was initially funded as a Resource Research project on the
        CNPRC base grant (RR000169), and then as an R24 grant from NCRR/ORIP. The grant was re-funded in 2009, and again
        in 2014. The grant ID is R24 OD010962.
    </p>
    <p>
        There is a huge literature on temperament, personality, emotional reactivity, etc., though most of it is with
        humans. If you want to learn more about individual differences in temperament and behavioral responsiveness in
        nonhuman primates, check out these papers:
    </p>
    <ul>
        <li>
            Capitanio JP. Personality factors between and within species. In: B. Thierry, M. Singh, W. Kaumanns,
            editors.
            Macaque societies: a model for the study of social organizations . Cambridge: Cambridge University Press;
            2004.
            p. 13-33.
        </li>
        <li>
            Capitanio, J.P. Variation in BioBehavioral Organization. Pp. 55-73 in S. Schapiro (Ed.), Handbook of Primate
            Behavioral Management, 2017. Boca Raton, FL: CRC Press.
        </li>
        <li>
            Capitanio, J.P., Mason, W.A., in press. Personality as adaptation: Perspectives from nonhuman primates. In
            Lynam, D. R. & Samuel, D. B. (Eds.), Using basic personality research to inform the personality disorders.
            New
            York: Oxford University Press.
        </li>
        <li>
            Champoux M, Suomi SJ, Schneider ML. Temperament differences between captive Indian and Chinese-Indian hybrid
            rhesus macaque neonates. Laboratory Animal Science 1994;44(4):351-7.
        </li>
        <li>
            Clarke AS, Boinski S. Temperament in nonhuman primates. American Journal of Primatology 1995;37:103-25.
        </li>
    </ul>

</div>

<div id="generalProtocol" style="display:none">
    <h3>General Protocol</h3>
    <p>
        Infant monkeys (from the field cages, corncribs, indoor breeding colony, or nursery) are tested for a single 25
        hour period when they are between the ages of 90 and 120 days in cohorts of 5-8 animals each. For a given
        cohort, infants and their mothers (or peers, in the case of nursery-reared animals) are separated from each
        other. Mothers from the field cages and corncribs are transported to a holding area (typically the THPAD or
        CC301), and infants are taken to a testing/housing area. Infants arrive by 0900 hrs. and are housed individually
        with ad lib access to food, a novel object, and a stuffed toy duck and towel in their cages. Infants are
        returned to their mothers/peers at 1000 hrs. on Day 2. During the 25-hr period, animals are assessed
        behaviorally and physiologically in a number of standardized situations to identify individual differences in
        biobehavioral organization:
    </p>
    <p>
        <strong>Living Cage Observations.</strong> To assess their responses to separation and relocation, we observe
        each infant for a 5-min period at the beginning and at the end of the 25 hr. separation period. For these
        assessments, an observer sits in front of the rack of cages at a distance of 8 feet. Observers are instructed to
        minimize all direct eye contact with the animals during data collection. Each animal is observed individually
        (focal animal sampling), and data are recorded with the use of the Observer program (Noldus, 1991). Principal
        measures are activity, vocalization, and contact with objects.
    </p>
    <p>
        <strong>Preferential Look Test.</strong> This test is designed to assess the infants' ability to recognized the
        difference between a stimulus it has just seen and a new stimulus (ie, recognition memory), and we use
        procedures adapted from Gunderson et al. (1987). Each infant is carried to a small test cage that is placed in
        front of a large video monitor and receives 10 trials. On each trial the animal is shown two identical stimuli
        (objects or pictures), followed by a brief interval, after which the familiar object and a novel object are
        displayed. The principal measure of interest is duration of looking at the novel object. This test reflects
        visual recognition memory, and performance has been related to later cognitive impairment and developmental
        problems.
    </p>
    <p>
        <strong>Video Playback.</strong> The purpose of this test is to assess the infants' responsiveness to a social
        stimulus presented via color videotape. The 10-min stimulus tape consists of three sequences of an unfamiliar
        adult male rhesus macaque displaying viewer-directed aggressive behavior, interspersed with four segments of the
        same male displaying nonsocial (i.e., neutral) behavior. Each subject is carried to the test cage, which is
        situated in front of the video monitor. The infant's behaviors while it views the aggression and nonsocial
        sequences of the videotape are recorded and the infant is then returned to its living cage. Responses of
        interest include positional and social behavior directed at the video image, and have been related, in adult
        males, to major personality dimensions including Sociability (Capitanio, 2002).
    </p>
    <p>
        <strong>Human Intruder Test.</strong> The goal of this test is to assess the infants' responsiveness under
        standardized conditions of the challenge of a relatively non-threatening human (presenting her face in profile)
        and a more threatening human (staring at the infant). Each condition is presented at two distances. The infant
        is carried to the test cage and experiences four 1-min trials. For the first trial, an unfamiliar human sits
        approximately 3 ft in front of the cage, presenting her left profile. After 1 min, the human, maintaining a
        profile orientation, moves to within 12 inches of the test cage. One minute later, the human returns to the more
        distant location and attempts to maintain direct eye contact with the infant for 1 minute, following which the
        human again moves to within 12 inches of the test cage and attempts to maintain eye contact for 1 min. These
        conditions are designated, respectively, profile far, profile near, stare far, stare near. Responses of interest
        include positional, activity, and emotional behaviors.
    </p>
    <p>
        <strong>Blood Sampling.</strong> Blood is sampled on four occasions to assess infants' responses to separation
        and relocation, and to determine the regulatory characteristics of the hypothalamic-pituitary-adrenal (HPA)
        axis. Four blood samples are drawn via femoral venipuncture from each monkey and are used to assess
        concentrations of plasma cortisol. The first sample (1 ml) is taken following completion of the Living Cage
        observations on Day 1 (2 hrs. after arrival in the test room), and is also used for a complete blood count and
        to assess numbers of CD4+ and CD8+ T-cells using flow cytometry. After completion of the Human Intruder testing
        (at 1600 hrs.), a second sample (0.5 ml) is taken, after which each subject is given 500 µg/kg dexamethasone
        i.m. The third sample (0.5 ml) is taken following the living cage observations on Day 2 (at 0830 hrs.), and
        should reflect cortisol concentrations that are suppressed by the dexamethasone. Failure to suppress cortisol in
        humans is associated with negative affective characteristics (including depression). Immediately after Sample 3,
        each subject is injected with 2.5 IU ACTH i.m., and a fourth sample (0.5 ml) is taken 30 min later. The
        dexamethasone and ACTH stimulation tests are clinical tests used routinely to determine the integrity of the
        hypothalamic-pituitary-adrenal system. We have data suggesting that the response of the HPA system is traitlike
        – individual differences in cortisol concentrations (including responses to dexamethasone suppression) are
        maintained over time (Capitanio, Mendoza, Lerche, 1998).
    </p>
    <p>
        <strong>Novel Objects.</strong> The goal of this test is to assess the infants' responsiveness by measuring
        their activity with unfamiliar objects in their living cages. The first object (black hollow cylinder with
        ridges on the exterior surface, 9 cm long x 4 cm in diameter, weighing 0.090 kg) is present when the animal is
        first placed in the living cage, and remains in the cage until after the second blood sample is drawn. The
        second object (white, crayon-shaped object with ridges on the outer surface, same dimensions and weight) is then
        placed in the cage and remains until the assessments ends on Day 2. Each object contains an Actiwatch activity
        monitor that records the force exerted on the object.
    </p>
    <p>
        <strong>Temperament Ratings.</strong> The goal of the rating is to provide an overall "thumbnail" picture of
        each infant's behavioral characteristics during the testing period. At the end of the 25 hr. assessment period,
        just before the infant is returned to its mother/cage-mates and housing situation, it is rated by the technician
        who performed the assessments. The rating instrument consists of 20 adjectives (e.g., calm, bold, excitable,
        playful, tense) and their definitions. The technician rates each animal on each adjective using a seven-point
        scale, reflecting "total absence" to "extremely large amount" of the characteristic displayed. From these
        ratings, major dimensions of temperament can be obtained (e.g., Capitanio, 1999).
    </p>
    <p>
        Following the temperament rating, mother-reared infants from the field cages and corncribs are reunited with
        their mothers in the mothers’ holding cages. Mothers and infants are observed for approximately 1 hr. to insure
        that the mothers accept the infants, and to allow an opportunity for the infants to suckle. Mother-infant pairs
        are then returned to their original living cages. Informal observations continue to insure that the
        re-introductions to the cages occur safely. Nursery-reared animals are immediately returned to the nursery, and
        infants from the indoor breeding colony are returned directly to their mothers in their living cages.
    </p>
    <ul> <strong>References</strong>
        <li>
            Capitanio, J.P. (1999). Personality dimensions in adult male rhesus macaques: prediction of behaviors across
            time and situation. American Journal of Primatology, 47(4), 299-320.
        </li>
        <li>
            Capitanio, J.P. (2002). Sociability and responses to video playbacks in adult male rhesus monkeys (Macaca
            mulatta). Primates, 43, 169-177.
        </li>
        <li>
            Capitanio, J.P., Mendoza, S.P., & Lerche, N.W. (1998). Individual differences in peripheral blood
            immunological and hormonal measures in adult rhesus macaques (Macaca mulatta): Evidence for temporal and
            situational consistency. American Journal of Primatology, 44, 29-41.
        </li>

        <li>
            Gunderson, V., Grant-Webster, K., & Fagan, J.F. (1987). Visual recognition memory in high- and low-risk
            infant pigtailed macaques (Macaca nemestrina). Developmental Psychology, 23, 671-675.
        </li>
        <li>
            Noldus, L.P.J.J. (1991). The observer: A software system for collection and analysis of observational data.
            Behavior Research Methods, Instruments & Computers, 23, 415-429.
        </li>
    </ul>
</div>

<div id="rearingCondition" style="display:none">
    <h3>Rearing Condition</h3>
    <p>
        Animals are classified into one of four rearing conditions based on where they were reared during their first
        3-4 months of life. Below are brief descriptions of each rearing condition. Note that specific details for any
        given animal may vary.
    </p>
    <p>
        NC - animals reared in the field cages. Field cages contain animals of multiple ages and sexes, with up to 150
        animals in each cage.
    </p>
    <p>
        CC - animals reared in the corncribs. Corncribs typically contain one adult male, 3-6 adult females, and any
        previous offspring.
    </p>
    <p>
        MR - animals are born into the indoor breeding colony and are "mother-reared". Housing involves a single
        mother-infant pair living in a standard-sized individual cage. A given mother-infant pair may have direct
        contact with another mother-infant pair in an adjacent cage for several hours per day. Note that this is a
        heterogeneous category, in that in some cases, infants were conceived in the field cages, but due to events (eg,
        a cage war) were relocated indoors during gestation. See the following paper to learn how this can make a
        difference: Elfenbein, H.A., Del Rosso, L., McCowan, B., Capitanio, J.P. Effect of indoor compared with outdoor
        location during gestation on the incidence of diarrhea in indoor-reared rhesus macaques (Macaca mulatta).
        Journal of AALAS, 2016, 55: 277-290.
    </p>
    <p>

        NR - animals are raised in the nursery. NR infants are typically derived from the field cages by separating them
        from their mothers on the day of birth and placing them in incubators (each containing a stuffed animal toy and
        towels to cling to) for approximately 30 days, after which they are moved into individual units of a quad cage.
        After 1 or 2 days of habituation, the barriers between adjacent units are removed so that infants can interact
        in pairs. In some years, infants were formed into pairs for 6 hours per day, while in other years barriers were
        removed permanently, resulting in continuous, dyadic peer-housing.
    </p>
</div>

<div id="weight" style="display:none">
    <h3>Weight at Testing</h3>
    <p>
        Upon arrival in the testing area, animals are weighed using a standard CNPRC Fairbanks scale. This weight is the
        value we use to determine doses of dexamethasone and ACTH.
    </p>
</div>

<div id="spfStatus" style="display:none">
    <h3>SPF Status</h3>
    <p>
        This code indicates whether (Y) or not (N) an animal is an SPF animal. Note that some SPF animals are listed as
        nursery reared, and some are listed as being born into an SPF field cage. This code does NOT distinguish between
        the different levels of SPF that we have at CNPRC.
    </p>
</div>

<div id="behavResponsiveness" style="display:none">
    <h3>Behavioral Responsiveness</h3>
    <p>
        These data are taken from the "Living Cage Observations," which are five minute samples of behavior recorded
        live on two occasions during the 25-hr. assessment period. On Day 1, the observations begin about 15 minutes
        after the animals are relocated to the test room (0915), and on Day 2, they begin at 0700. Exploratory and
        Confirmatory factor analyses were performed on the behavioral data and are described in some detail in the
        following publication:
    </p>
    <p>
        Golub, M.S., Hogrefe, C.E., Widaman, K.F., Capitanio, J.P. Iron deficiency anemia and affective response in
        rhesus monkey infants. Developmental Psychobiology, 2009, 51, 47-59.
    </p>
    <p>
        These analyses identified two behavioral composites (Activity and Emotionality) for Day 1 data. Identical
        composites were created for the Day 2 data. Note that the Day 1 composites reflect how animals responded
        immediately upon separation from mother/peer and relocation to a novel environment. The data from Day 2 reflect
        adaptation to the situation. In very general terms, animals (especially those from the field cages) often showed
        low Activity during the Day 1 observations. Some animals continued to display low Activity on Day 2, but others
        seemed to behave much more normally. Thus, we believe Day 2 data reflect the extent to which animals became more
        comfortable in the situation.
    </p>


    <ul> ACTIVITY comprises the following behaviors
        <li>
            proportion of total time spent locomoting;
        </li>
        <li>
            proportion of total time spent NOT hanging from top/side of cage;
        </li>
        <li>
            rate of environmental exploration;
        </li>

        <li>
            dichotomous variable for whether animal ate food (+) or not;
        </li>
        <li>
            dichotomous variable for whether animal drank water (+) or not;
        </li>
        <li>
            dichotomous variable for whether animal crouched (+) or not.
        </li>
    </ul>

    <ul> EMOTIONALITY comprises the following behaviors
        <li>
            rate of cooing;
        </li>
        <li>
            rate of barking;
        </li>
        <li>
            dichotomous variable of whether the animal scratched (+) or not;
        </li>

        <li>
            dichotomous variable of whether the animal displayed threats (+) or not;
        </li>
        <li>
            dichotomous variable of whether the animal lipsmacked (+) or not.
        </li>
    </ul>

</div>

<div id="temperamentRatings" style="display:none">
    <h3>Temperament Ratings</h3>
    <p>
        At the end of the 25-hr. testing period, the technician rated each animal on listing of 20 trait adjectives,
        with a goal of obtaining overall ‘thumbnail’ assessments of the animals’ behavioral characteristics during the
        period of testing. We believe these trait ratings reflect stable, individual difference characteristics of the
        animals.
    </p>
    <p>
        Scores on these traits were subjected to exploratory and confirmatory factor analysis, described in the
        following paper:
    </p>
    <p>
        Golub, M.S., Hogrefe, C.E., Widaman, K.F., Capitanio, J.P. Iron deficiency anemia and affective response in
        rhesus monkey infants. Developmental Psychobiology, 2009, 51, 47-59.
    </p>

    <ul> Four factors were found. Once each scale was constructed (by adding the values of the individual items), the
        scale was then z-scored. The scales were named based on the factor analysis.
        <li>
            Vigilant: vigilant, NOT depressed, NOT tense, NOT timid.
        </li>
        <li>
            Gentle: gentle, calm, flexible, curious.
        </li>
        <li>
            Confident: confident, bold, active, curious, playful.
        </li>
        <li>
            Nervous: nervous, fearful, timid, NOT calm, NOT confident.
        </li>
    </ul>

</div>

<div id="humanIntruder" style="display:none">
    <h3>Human Intruder</h3>
    <p>
        Many different research laboratories conduct some type of Human Intruder (HI) test to assess a variety of
        constructs, like aggression, behavioral inhibition, etc. For the BBA program, we use a brief version comprising
        four 1-minute trials, with the technician presenting her profile face from a far (~1 meter) distance, profile
        from a near (~0.3 meter) distance, full frontal face from the far, and full frontal face from the near,
        distances. There are many measures one can take from this test, but we performed exploratory and confirmatory
        factor analyses to identify the factors that underlie the behaviors seen. When we included behaviors recorded
        from the four separate conditions, the same behaviors tended to be found on the same factors, so we simply
        combined data across the four trials and re-ran the analyses. You can find the details of the analysis here:
    </p>
    <p>
        Gottlieb, D.H., Capitanio, J.P. Latent variables affecting behavioral response to the human intruder test in
        infant rhesus monkeys (Macaca mulatta). American Journal of Primatology, 2013, 75, 314-323.
    </p>
    <ul> The following four factors were found:
        <li>
            HIActivity: active, cageshake, environment explore.
        </li>
        <li>
            HIEmotionality: convulsive jerk, fear grimace, self-clasp, vocal coo.
        </li>
        <li>
            HIAggression: threat, vocal bark, vocal other.
        </li>
        <li>
            HIDisplacement: tooth grind, yawn.
        </li>
    </ul>
</div>

<div id="behavioralInhibition" style="display:none">
    <h3>Behavioral Inhibition Index</h3>
    <p>
        Behavioral inhibition (BI) is a major temperament trait for many species of mammals, including humans. BI is
        typically assessed in infancy/toddlerhood in humans, and is considered an important risk factor for later
        anxiety (especially social anxiety) and depression in people. For the BBA program, we define BI as having scores
        below zero for four measures: Day 1 Activity, Day 1 Emotionality, Day 2 Activity, and Day 2 Emotionality. This
        index of BI has been linked to later behavior, to genetic differences, to metabolomic differences, and to
        differences in gene expression in the brain.
    </p>
    <p>
        This index is displayed as either a 0, indicating the animals’ responses did not meet the criteria for BI, or 1,
        indicating the animals’ responses did meet the criteria.
    </p>
</div>

<div id="zscores" style="display:none">
    <h3>Z-Score</h3>
    <p>
        Most of the data presented are in z-score format. Z-scores (sometimes called “standard scores”) are derived by
        taking an individual’s actual score, subtracting the mean of the sample, then dividing by the standard deviation
        (which is a measure of variability). The z-score tells you how extreme from the “average” an individual’s score
        is. In z-score units, the average score is zero. If the measure is normally distributed, here’s how z-scores
        translate into where that given animal is in the broader sample:
    </p>
    <table border="0">
        <tr>
            <td><strong>If the z-score is:</strong></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><strong>then the animals' score is higher than this % of the sample:</strong></td>
        </tr>
        <tr>
            <td>-1.65</td>
            <td></td>
            <td>5%</td>
        </tr>
        <tr>
            <td>-1.00</td>
            <td></td>
            <td>16%</td>
        </tr>
        <tr>
            <td>0</td>
            <td></td>
            <td>50%</td>
        </tr>
        <tr>
            <td>1.00</td>
            <td></td>
            <td>84%</td>
        </tr>
        <tr>
            <td>1.65</td>
            <td></td>
            <td>95%</td>
        </tr>
    </table>
    <p>
        If you want more precise values, use this calculator: <br/>
        <a href="http://davidmlane.com/hyperstat/z_table.html">http://davidmlane.com/hyperstat/z_table.html</a>
    </p>
    <p>
        Note that for each data set, z-scores were calculated independently for each year of testing. Thus, all values
        are relative to each other for all animals within a single test year, like 2003. If you were to compare two
        animals, one from 2003 and one from 2005, that each had a score of 1.00 for a given measure, you would know that
        they each had higher scores than 84% of their respective yearly testing cohorts. You should NOT conclude that
        they had the exact same ACTUAL score value, since values from year to year can vary slightly, owing to a number
        of factors.
    </p>
    <p>
        You can read more about z-scores at Wikipedia: <br/>
        <a href="http://en.wikipedia.org/wiki/Z_score">http://en.wikipedia.org/wiki/Z_score</a>
    </p>
</div>

<div id="plasmaCortisol" style="display:none">
    <h3>Plasma Cortisol</h3>
    <p>
        Cortisol is a glucocorticoid, a hormone released by the adrenal cortex, which causes release of glucose into the
        circulation. It is secreted in response to ACTH, which is a peptide released by the pituitary. Cortisol is often
        thought of as a “stress” hormone. It is certainly released in response to situations that most would perceive as
        stressful, which makes some sense – providing glucose can help you recover from excessive emotional and physical
        exertion. However, cortisol concentrations reflect lots of different things. For example, cortisol
        concentrations are generally higher in the morning than in the afternoon in most people (again, this makes
        sense, in that it provides the energy for your day), but not in all people – about half the people who suffer
        from clinical depression do not show this circadian rhythm of cortisol, for example.
    </p>
    <p>
        In the BBA project, we assessed cortisol at four time points.
    </p>
    <p>
        Sample 1 was drawn at 1100 hours on Day 1, which is about two hours after the infants had been separated from
        their mothers and relocated to the testing environment. Consequently, these values are likely “stressed” values.
    </p>
    <p>
        Sample 2 was drawn at 1600 hours on Day 1, at the conclusion of the day’s behavioral testing. In the absence of
        stressful circumstances, we would expect Sample 1 values to be higher than Sample 2 values, because cortisol is
        naturally higher in the morning than in the afternoon. In the BBA animals, in contrast, most animals showed
        elevations at Sample 2, presumably reflecting continued stress associated with separation and relocation. This
        was often not true of nursery-raised animals, however (see Capitanio, J.P., Mendoza, S.P., Mason, W.A.,
        Maninger, N. Rearing environment and hypothalamic-pituitary-adrenal regulation in young rhesus monkeys (Macaca
        mulatta). Developmental Psychobiology, 2005, 46, 318-330).
    </p>
    <p>
        Sample 3 was drawn at 0830 hours on Day 2, after the Day 2 Living Cage Observations had been performed.
        Immediately after Sample 2 was drawn on an animal, it received an injection of dexamethasone (500 ug/kg) i.m.,
        which is a potent synthetic glucocorticoid. The “dexamethasone suppression test” is a standard clinical test of
        negative feedback regulation in the hypothalamic-pituitary-adrenal system, and dex typically suppresses cortisol
        output by the adrenal cortex when measured several hours later. Sample 3 cortisol levels should reflect at least
        some suppression by dexamethasone.
    </p>
    <p>
        Sample 4 was drawn at 0900 hours on Day 2. Immediately after Sample 3 was drawn, each animal was injected with
        2.5 IU of ACTH. Since ACTH normally stimulates cortisol secretion from the adrenal cortex, we would expect that
        cortisol concentrations would rise, which they did for nearly all animals.
    </p>
    <p>

        Over the years, cortisol has been assayed using two different platforms by the Endocrine Core at CNPRC.
        Initially, radioimmunoassay was used, but when this kit was discontinued, we moved to the Centaur platform
        currently in use by that Core. Nancy Gee in the Endocrine Core, or John Capitanio, can provide additional
        information on the assay from the newer platform.
    </p>
    <p>
        Note that the values presented here are z-scores, not the actual cortisol concentrations. This is in keeping
        with the goal of helping users determine whether the animals of interest to them responded in an unusual fashion
        relative to the other animals in the sample. Thus, while a z-score of “0" reflects the mean value for each of
        the four cortisol samples, the actual cortisol concentration corresponding to that mean value differs by sample.
        If you are interested in the actual cortisol values, contact John Capitanio.
    </p>
    <p>
        You can read more about cortisol at: <a href="http://en.wikipedia.org/wiki/Cortisol">http://en.wikipedia.org/wiki/Cortisol</a>
    </p>
    <p>
        You can read more about the dexamethasone suppression test at: <a
            href="http://en.wikipedia.org/wiki/Dexamethasone_suppression_test">http://en.wikipedia.org/wiki/Dexamethasone_suppression_test</a><br/>
        Be aware that information in Wikipedia may be more or less accurate on some details, depending on the knowledge
        of the person writing the article!
    </p>
</div>

<div id="hematologyFlowCytometry" style="display:none">
    <h3>Hematology and Flow Cytometry</h3>
    <p>
        For the Sample 1 blood draw, 0.5 ml of blood was sent to the CNPRC Clinical Laboratory for a complete blood
        count and flow cytometry (to determine numbers of CD4+ and CD8+ cells). Note that the values presented here are
        actual values, not z-scored values.
    </p>
</div>

<div id="sert" style="display:none">
    <h3>Serotonin transporter promoter genotype</h3>
    <p>
        Serotonin (also known as 5-hydroxytryptamine, or 5-HT) is a monoamine neurotransmitter found in the brain.
        Serotonin is also found in great quantities in the gut, and it is a molecule that has effects on the immune
        system. In the brain, serotonin is associated with mood and emotion, and is a target of therapeutic intervention
        for individuals suffering from mood disorders (e.g., SSRIs, or selective serotonin reuptake inhibitors, are
        commonly prescribed antidepressants).
    </p>
    <p>
        Once a serotonin neuron "fires," serotonin is released into the synaptic cleft, where it can have its effect on
        the downstream neuron. Serotonin is then taken back into the pre-synaptic cell (i.e., the cell that released it
        in the first place) in a process called reuptake, where the serotonin can be repackaged and recycled. Reuptake
        relies on the presence of a protein called a transporter (the serotonin transporter, or 5-HTT) in the membrane
        of the presynaptic cell. In humans and in rhesus monkeys, the gene that codes for this protein has a
        polymorphism in the promoter region of the gene (promoters are regions of gene that determine whether and how
        the gene will be transcribed). This region is often referred to as the serotonin transporter gene-linked
        polymorphic region, or 5-HTTLPR, which is sometimes referred to as SLC6A4.
    </p>
    <p>
        For the most part, there are two forms of the gene, a "short" allele and a "long" allele (there is some evidence
        for other, more rare alleles, which we ignore for now). Thus, an individual may have three genotypes (since
        there is one form of the gene on each of the pair of chromosomes - chromosome pair 17 in humans, and pair 16 in
        rhesus): short/short, short/long, and long/long. The short allele seems to result in reduced efficiency of the
        transcription process. Several studies, in both humans and rhesus, have shown that possession of one or two
        short alleles (whether only one is needed or two are needed depends on the specific study) is associated with
        behavioral outcomes that are often described as anxious, fearful, or aggressive in nature, and with
        physiological outcomes, such as regulation of the hypothalamic-pituitary-adrenal response. In many cases, these
        outcomes are particularly evident when individuals with a short allele also have had some form of early adverse
        experience, such as, for rhesus monkeys, nursery-rearing. You can read more about these outcomes in: Rogers J,
        Kaplan J, Garcia R, Shelledy W, Nair S, Cameron J. Mapping of the serotonin transporter locus (SLC6A4) to rhesus
        chromosome 16 using genetic linkage. Cytogenetic and Genome Research 112:341a, 2006.
    </p>
    <p>
        Because our dataset is so large, we have also identified many cases of a rare allele for this gene, a so-called
        "extra-long", which is designated as XL. Animals can have any combination of genes with this allele as well:
        S/XL, L/XL, or XL/XL. We note that there are some rare animals with three genes, specifically S/L/XL. All of
        these will be identifiable in the database.
    </p>
    <ul> Here we present the genotype information for BBA-assessed animals. Overall in our colony, based on about 4100
        animals that have been genotyped for this polymorphism, we find:
        <li>
            58% have the l/l genotype
        </li>
        <li>
            35% have the s/l genotype
        </li>
        <li>
            6% have the s/s genotype
        </li>
        <li>
            <2% with the rare genotypes.
        </li>
    </ul>
</div>

<div id="maoa" style="display:none">
    <h3>Monoamine oxidase A genotype </h3>
    <p>
        Monoamine oxidase A is an enzyme whose gene is on the X chromosome. It is responsible for the breakdown of
        various neurotransmitters, such as norepinephrine, epinephrine, serotonin, and dopamine. These neurotransmitters
        are found throughout the brain, and are involved with emotion, among other things.
    </p>
    <p>
        In humans and in rhesus monkeys, there is a promoter region that is polymorphic. Specifically, there is
        variation in the length of a repetitive sequence; this is referred to as a variable number of tandem repeats, or
        VNTR. While the number of repeats differs between humans and rhesus, there appears to be overlap in outcome. In
        rhesus monkeys, the main number of repeats are labelled 5, 6, and 7 repeats (there may be a small number of
        other repeats as well). A paper by Newman et al. (Newman TK, Syagailo YV, Barr CS, Wendland JR, Champoux M,
        Graessle M, Suomi SJ, Higley JD, Lesch KP. Monoamine oxidase A gene promoter variation and rearing experience
        influences aggressive behavior in rhesus monkeys. Biol Psychiatry 57:167-172, 2005) reported that the 7-repeat
        allele results in lower transcriptional activity than do the 5- and 6-repeats. The outcomes associated with
        variation in this gene have been related to aggressive and antisocial behavior in humans, particularly if the
        individuals have had adverse early life experiences. In rhesus monkeys, we have reported genotype by rearing
        interactions (Karere GM, Kinnally EL, Sanchez JN, Famula TR, Lyons LA, Capitanio JP. What is an "adverse"
        environment? Interactions of rearing experiences and MAOA genotype in rhesus monkeys. Biol Psychiatry
        65:770-777, 2009): No effects of genotype were found for infants reared by mothers in our field cages. In
        contrast, animals reared in corncribs were more likely to display aggression, which was especially true of
        animals possessing the low-activity MAOA genotype. In addition, animals with low-activity genotypes that had
        experienced restricted mother rearing (in our time-mate colony) showed more anxious behavior (scratch, yawn).
    </p>
    <p>
        Because MAO-A is on the X-chromosome, genotypes are a bit more complicated than for the serotonin transporter.
        Males have only one X chromosome, so we have 5/-, 6/-, or 7/- genotypes (males are thus referred to as
        hemizygous, possessing only one form of the gene). Because females have two X chromosomes, they can have 5/5,
        5/6, 5/7, 6/6, 6/7, or 7/7 genotypes. We don’t know a lot about how the heterozygous females (eg, the 5/6, 5/7,
        or 6/7 genotypes) behave genetically, because we don’t know which X-chromosome is inactivated in any given cell.
        Although since both the 5- and 6-repeat alleles are considered high activity, the 5/6 animals may not be that
        different from 5/5 or 6/6 animals. Based up on about 4200 genotypes from CNPRC animals we find the following
        genotype frequencies:
    </p>

    <ul>
        <li>
            5/5 females and 5/- males (all high activity) are 19.4% of the population
        </li>
        <li>
            6/6 females and 6/- males (all high activity) are 19.3% of the population
        </li>
        <li>
            7/7 females and 7/- males (all low activity) are 28.0% of the population
        </li>
        <li>
            5/6 females (presumably all high activity) are 9.4% of the population
        </li>
        <li>
            5/7 females (presumably mixed activity) are 12.2% of the population
        </li>
        <li>
            6/7 females (presumably mixed activity) are 11.1% of the population
        </li>
        <li>
            <1% with rare genotypes
        </li>
    </ul>

    <p>
        We note that we have also found other, rare variants of this gene as well, including a "4" allele, and a "6.5"
        allele. Thus there can be other combinations of genotypes involving these rare alleles.
    </p>
</div>

<div id="otherInfo" style="display:none">
    <h3>Publications from the BBA program</h3>
    <p>
        The following publications have resulted from the BBA program at CNPRC:
    </p>
    <ul>
        <li>
            Parker, K.J., Garner, J.P., Oztan, O., Tarara, E.R., Li, J., Sclafani, V., Del Rosso, L.A., Chun, K.,
            Berquist, S.W., Chez, M.G., Partap, S., Hardan, A.Y., Sherr, E.H., Capitanio, J.P., in press. Biomarker
            discovery for social impairments: Translation from a novel monkey model to patients with autism. Science
            Translational Medicine. PMC Journal - In Process.
        </li>

        <li>
            Capitanio, J.P., Vandeleest, J., Hannibal, D.L., in press. Physiological measures of welfare. In L. Robinson
            & A. Weiss, eds., Nonhuman Primate Welfare. NY: Springer. PMC exempt.
        </li>

        <li>
            Capitanio, J.P. Naturally-occurring nonhuman primate models of psychosocial processes. ILAR Journal, 2017,
            58: 226-234. PMC Journal - In Process.
        </li>

        <li>
            Madrid, J.E., Oztan, O., Sclafani, V., Del Rosso, L.A., Calonder, L.A., Chun, K., Capitanio, J.P., Garner,
            J.P., Parker, K.J. Preferences for novel faces in male infant monkeys predicts cerebrospinal fluid oxytocin
            concentrations later in life. Scientific Reports, 2017, 7(1):12935. doi:10.1038/s41598-017-13109-5.
            PMC5636831.
        </li>

        <li>
            Bliss-Moreau, E., Moadab, G., Capitanio, J.P. Maternal rearing environment impacts autonomic nervous system
            activity. Developmental Psychobiology, 2017, 59:551-556. PMC5423540.
        </li>

        <li>
            Golub, M.S., Hackett, E.P., Hogrefe, C.E., Leranth, C, Elsworth, J.D., Roth, R.H. Cognitive performance of
            juvenile monkeys after chronic fluoxetine treatment. Developmental Cognitive Neuroscience, 2017, 26:52-61.
            PMC5557667.
        </li>

        <li>
            Capitanio, J.P., Blozis, S.A., Snarr, J., Steward, A., McCowan, B.J. Do "birds of a feather flock together"
            or do "opposites attract"? Behavioral responses and temperament predict success in pairings of rhesus
            monkeys in a laboratory setting. American Journal of Primatology, 2017, 79:1-11. PMC5344041.
        </li>

        <li>
            Golub M.S., Hogrefe C.E, Bulleri, A.M. Regulation of emotional response in juvenile monkeys treated with
            fluoxetine: MAOA interactions. Eur Neuropsychopharmacol., 2016, 26:1920-1929. PMC5154301.
        </li>

        <li>
            Capitanio, J.P. Variation in BioBehavioral Organization. Pp. 55-73 in S. Schapiro (Ed.), Handbook of Primate
            Behavioral Management, 2017. Boca Raton, FL: CRC Press. PMC exempt.
        </li>

        <li>
            Sclafani V, Del Rosso LA, Seil SK, Calonder LA, Madrid JE, Bone KJ, Sherr EH, Garner JP, Capitanio JP,
            Parker KJ. Early Predictors of Impaired Social Functioning in Male Rhesus Macaques (Macaca mulatta). PLoS
            ONE, 2016, 11(10): e0165401. doi:10.1371/journal.pone.0165401. PMC5082922.
        </li>

        <li>
            Su SY, Hogrefe-Phi CE, Asara JM, Turck CW, Golub MS. Peripheral fibroblast metabolic pathway alterations in
            juvenile rhesus monkeys undergoing long-term fluoxetine administration. Eur Neuropsychopharmacol. 2016
            Jul;26(7):1110-8. doi: 10.1016/j.euroneuro.2016.03.017. Epub 2016 Apr 12. PMC5590669.
        </li>

        <li>
            Golub, MS, Hogrefe, CE, Bulleri, AM. Peer social interaction is facilitated in juvenile rhesus monkeys
            treated with fluoxetine. Neuropharmacology. 2016 Jun;105:553-60. PMC4873333.
        </li>

        <li>
            Herrington, J.A., Del Rosso, L., Capitanio, J.P. Biobehavioral consequences of prenatal exposure to a
            matrilineal overthrow and relocation in captive infant rhesus (Macaca mulatta) monkeys. American Journal of
            Primatology, 2016, 78:895-903. PMC5378313.
        </li>

        <li>
            Elfenbein, H.A., Del Rosso, L., McCowan, B., Capitanio, J.P. Effect of indoor compared with outdoor location
            during gestation on the incidence of diarrhea in indoor-reared rhesus macaques (Macaca mulatta). Journal of
            AALAS, 2016, 55: 277-290. PMC4865688.
        </li>

        <li>
            Golub, M.S., Hogrefe, C.E. Sleep disturbance as detected by actigraphy in pre-pubertal juvenile monkeys
            receiving therapeutic doses of fluoxetine. Neurotoxicol Teratol. 2016 May-Jun;55:1-7. PMC4884518.
        </li>

        <li>
            Chun, K., Capitanio, J.P. Developmental consequences of behavioral inhibition: A model in rhesus monkeys
            (Macaca mulatta). Developmental Science, 2016, 19: 1035-1048. PMC5369653.
        </li>

        <li>
            Kinnally, E.L., Capitanio, J.P. Paternal early experiences influence infant development through non-social
            mechanisms in rhesus macaques. Frontiers in Zoology, 2015, 12(Suppl 1):S14. PMC4722344.
        </li>

        <li>
            Golub, M.S., Hogrefe, C.E. Fetal iron deficiency and genotype influence emotionality in infant rhesus
            monkeys. Journal of Nutrition, 2015, 145: 647-653. PMC4336538.
        </li>

        <li>
            Golub, M.S., Bulleri, A.M., Hogrefe, C.E., Sherwood, R.J. Bone growth in juvenile rhesus monkeys is
            influenced by 5HTTLPR polymorphisms and interactions between 5HTTLPR polymorphisms and fluoxetine. Bone.
            2015 Oct;79:162-9. doi: 10.1016/j.bone.2015.05.042. PMC4511468.
        </li>

        <li>
            Hinde, K., Skibiel, A.L., Foster, A.B., Del Rosso, L., Mendoza, S.P., Capitanio, J.P. Cortisol in mother's
            milk reflects maternal life history and predicts infant temperament. Behavioral Ecology, 2015, 26: 269-281.
            PMC4309982.
        </li>

        <li>
            Golub, M.S., Hogrefe, C.E. Sleep patterns in male juvenile monkeys influenced by gestational iron deficiency
            and MAOA genotype. British Journal of Nutrition, 2014 112(9):1478-83. PMC4215648.
        </li>

        <li>
            Hennessy, M.B., McCowan, B., Jiang, J., Capitanio, J.P. Depressive-like behavioral response of adult male
            rhesus monkeys during routine animal husbandry procedure. Frontiers in Behavioral Neuroscience, 2014, 8:309.
            doi: 10.3389/fnbeh.2014.00309. PMC4159029.
        </li>

        <li>
            He, Y., Hogrefe, C.E., Grapov, D., Palazoglu, M., Fiehn, O., Turck, C.W., Golub, M.S. Identifying individual
            differences of fluoxetine response in juvenile rhesus monkeys by metabolite profiling. Transl Psychiatry
            (2014) 4, e478; doi:10.1038/tp.2014.116. PMC4259988.
        </li>

        <li>
            Golub, M., Hogrefe, C. Prenatal iron deficiency and monoamine oxidase A (MAOA) polymorphisms: combined risk
            for later cognitive performance in rhesus monkeys. Genes Nutr. 2014 Mar;9(2):381. PMC3968295.
        </li>

        <li>
            Bauman, M.D., Iosif, A.M., Ashwood, P., Braunschweig, D., Lee, A., Schumann, C.M., Van de Water, J., Amaral,
            D.G. Maternal antibodies from mothers of children with autism alter brain growth and social behavior
            development in the rhesus monkey. Transl Psychiatry. 2013 Jul 9;3:e278. doi: 10.1038/tp.2013.47. PMC3731783.
        </li>

        <li>
            Golub, M.S., Hogrefe, C.E. Predictors of hemoglobin variability in a population of weaning age (3- to
            4-month old) rhesus monkeys. Am J Primatol. 2013, 75(11):1139-46. PMC4201538.
        </li>

        <li>
            Bauman, M.D., Iosif, A.M., Smith, S.E., Bregere, C., Amaral, D.G., Patterson, P.H. Activation of the
            maternal immune system during pregnancy alters behavioral development of rhesus monkey offspring. Biol
            Psychiatry. 2014 Feb 15;75(4):332-41. doi: 10.1016/j.biopsych.2013.06.025. Epub 2013 Sep 5.
        </li>

        <li>
            Weinstein, T.A.R., Bales, K.L., Maninger, N., Hostetler, C.M., Capitanio, J.P. Early involvement in
            friendships predicts later plasma concentrations of oxytocin and vasopressin in juvenile rhesus macaques
            (Macaca mulatta). Frontiers in Behavioral Neuroscience, 2014, 8:295. doi: 10.3389/fnbeh.2014.00295.
            PMC4147354.
        </li>

        <li>
            Beisner, B.A., McCowan, B. Signaling context modulates social function of silent bared-teeth displays in
            rhesus macaques (Macaca mulatta). Am J Primatol., 2014, 76(2), 111-21. PMC3919452.
        </li>

        <li>
            Sorenson, A., Sullivan, E.C., Mendoza, S.P., Capitanio, J.P., Higley, J.D. Serotonin transporter genotype
            modulates HPA axis output during stress: Effect of stress, dexamethasone test and ACTH challenge.
            Translational Developmental Psychiatry, 2013, 1, 21130 - PMC4109987.
        </li>

        <li>
            Gottlieb, D.H., Capitanio, J.P., McCowan, B. Risk factors for stereotypic behavior and self-biting in rhesus
            macaques (Macaca mulatta); Animal's history, current environment, and personality. American Journal of
            Primatology, 2013, 75: 995-1008. PMC3973020.
        </li>

        <li>
            Vandeleest, J.J., Blozis, S.A., Mendoza, S.P., Capitanio, J.P. The effects of birth timing and ambient
            temperature on the hypothalamic-pituitary-adrenal axis in 3-4 month old rhesus monkeys.
            Psychoneuroendocrinology, 2013, 38:2705-2712. PMC3812365.
        </li>

        <li>
            Gottlieb, D.H., Capitanio, J.P. Latent variables affecting behavioral response to the human intruder test in
            infant rhesus monkeys (Macaca mulatta). American Journal of Primatology, 2013, 75, 314-323. PMC3581725.
        </li>

        <li>
            Chun, K., Miller, L.A., Schelegle, E.S., Hyde, D.M., Capitanio, J.P. Behavioral inhibition in rhesus monkeys
            (Macaca mulatta) is related to the airways response, but not immune measures, commonly associated with
            asthma. PLoS ONE, 2013, 8(8): e71575. doi:10.1371/journal.pone.0071575. PMC3739724.
        </li>

        <li>
            Vandeleest, J.J., Mendoza, S.P., Capitanio, J.P. Birth timing and the mother-infant relationship predict
            variation in infant behavior and physiology. Developmental Psychobiology, 2013, 55: 829-837.
        </li>

        <li>
            Jiang, J., Kanthaswamy, S., Capitanio, J.P. Degree of Chinese ancestry affects behavioral characteristics of
            infant rhesus monkeys (Macaca mulatta). Journal of Medical Primatology, 2013, 42, 20-27. PMC3632404.
        </li>

        <li>
            Karere, G.M., Sullivan, E., Kinnally, E.L., Capitanio, J.P., Lyons, L.A. Enhancing genotyping of MAOA and
            5-HTT in rhesus macaques (Macaca mulatta). Journal of Medical Primatology, 2012, 41, 407-411. PMC3492537.
        </li>

        <li>
            Vandeleest, J.J., Capitanio, J.P. Birth timing and behavioral responsiveness predict individual differences
            in the mother-infant relationship and infant behavior during weaning and maternal breeding. American Journal
            of Primatology, 2012, 74, 734-746. PMC3896920.
        </li>

        <li>
            Capitanio, J.P., Del Rosso, L.A., Calonder, L.A., Blozis, S.A., Penedo, M.C.T. Behavioral effects of
            prenatal ketamine exposure in rhesus macaques are dependent on MAOA genotype. Experimental and Clinical
            Psychopharmacology, 2012, 20, 173-180. PMC3481859. Golub, M.S., Hogrefe, C.E., Unger, E.L. Influence of
            prenatal iron deficiency and MAOA genotype on response to social challenge in rhesus monkey infants. Genes,
            Brain and Behavior, 2012, 11, 278-90.
        </li>

        <li>
            Weinstein, T.A.R., Capitanio, J.P. Longitudinal stability of friendships in rhesus monkeys: Individual- and
            relationship-level effects. Journal of Comparative Psychology, 2012, 126, 97-108. PMC3592481.
        </li>

        <li>
            Sullivan, E.C., Mendoza, S.P., Capitanio, J.P. Similarity in temperament between mother and offspring rhesus
            monkeys: Sex differences and the role of monoamine oxidase-A and serotonin transporter promoter polymorphism
            genotypes. Developmental Psychobiology, 2011, 53, 549-563. PMC3162344.
        </li>

        <li>
            Rommeck, I., Capitanio, J.P., Strand, S.C., McCowan, B. Early social experience affects behavioral and
            physiological responsiveness to stressful conditions in infant rhesus macaques (Macaca mulatta). Am. J.
            Primatol., 2011, 73, 692-701. PMC3100413.
        </li>

        <li>
            Vandeleest, J.J., McCowan, B., Capitanio, J.P. Early rearing interacts with temperament and housing to
            influence the risk for motor stereotypy in rhesus monkeys (Macaca mulatta). Applied Animal Behaviour
            Science, 2011, 132, 81-89. PMC3084485.
        </li>

        <li>
            Capitanio, J.P., Miller, L.A., Schelegle, E.S., Mendoza, S.P., Mason, W.A., Hyde, D.M. Behavioral inhibition
            is associated with airway hyper-responsiveness but not atopy in a monkey model of asthma. Psychosom. Med.,
            2011, 73, 288-294. PMC3090450.
        </li>

        <li>
            Sullivan, E., Hinde, K., Mendoza, S.P., Capitanio, J.P. Cortisol concentrations in the milk of rhesus monkey
            mothers are associated with confident temperament in sons, but not daughters. Developmental Psychobiology,
            2011, 53, 96-104. PMC3188439.
        </li>

        <li>
            Capitanio, J.P., Mendoza, S.P., Cole, S.W. Nervous temperament in infant monkeys is associated with reduced
            sensitivity of leukocytes to cortisol's influence on trafficking. Brain, Behavior, and Immunity, 2011, 25,
            151-159. PMC2991489
        </li>

        <li>
            Kinnally, E.L., Capitanio, J.P., Leibel, R., Deng, L., LeDuc, C., Haghighi, F., Mann, J.J. Epigenetic
            regulation of serotonin transporter expression and behavior in infant rhesus macaques. Genes, Brain, and
            Behavior, 2010, 9, 575-582. PMC2921011
        </li>

        <li>
            Hinde, K., Capitanio, J.P. Lactational programming? Mother's milk energy predicts infant behavior and
            temperament in rhesus macaques. American Journal of Primatology, 2010, 71, 1-8. PMC3377500.
        </li>

        <li>
            Kinnally, E.L., Tarara, E.R., Mason, W.A., Mendoza, S.P., Abel, K., Lyons, L.A., Capitanio, J.P. Serotonin
            transporter expression is predicted by early life stress and is associated with disinhibited behavior in
            infant rhesus macaques. Genes, Brain, and Behavior, 2010, 9, 45-52. PMC2823956.
        </li>

        <li>
            Kinnally, E.L., Karere, G.M., Lyons, L.A., Mendoza, S.P., Mason, W.A., Capitanio, J.P. Serotonin pathway
            gene-gene and gene-environment interactions influence behavioral stress response in infant rhesus macaques.
            Development and Psychopathology, 2010, 22, 35-44. PMC3170845.
        </li>

        <li>
            Karere, G.M., Kinnally, E.L., Sanchez, J.N., Famula, T.R., Lyons, L.A., Capitanio, J.P. What is an "adverse"
            environment? Interactions of rearing experiences and MAOA genotype in rhesus monkeys. Biological Psychiatry,
            2009, 65, 770-777. PMC2688474.
        </li>

        <li>
            Golub, M.S., Hogrefe, C.E., Widaman, K.F., Capitanio, J.P. Iron deficiency anemia and affective response in
            rhesus monkey infants. Developmental Psychobiology, 2009, 51, 47-59. PMC3443197.
        </li>

        <li>
            Weinstein, T.A.R., Capitanio, J.P. Individual differences in infant temperament predict social relationships
            of yearling rhesus monkeys (Macaca mulatta). Animal Behaviour, 2008, 76, 455-465. PMC3592560.
        </li>

        <li>
            Kinnally, E.L., Lyons, L.A., Abel, K., Mendoza, S.P., Capitanio, J.P. Effects of early experience and
            genotype on serotonin transporter regulation in infant rhesus macaques. Gene, Brains, and Behavior, 2008, 7,
            481-486. PMC18081711.
        </li>

        <li>
            Goursaud, A-P.S., Mendoza, S.P., Capitanio, J.P. Do neonatal bilateral ibotenic acid lesions of the
            hippocampal formation or of the amygdala impair HPA axis responsiveness and regulation in infant rhesus
            macaques (Macaca mulatta)? Brain Research, 2006, 1071, 97-104.
        </li>

        <li>
            Golub, M.S., Hogrefe, C.E., Germann, S.L., Capitanio, J.P., Lozoff, B. Behavioral consequences of
            developmental iron deficiency in infant rhesus monkeys. Neurotoxicology and Teratology, 2006, 28, 3-17.
            PMC1540448.
        </li>

        <li>
            Capitanio, J.P. Hematology and serum chemistry reference values for rhesus macaque (Macaca mulatta) infants.
            Pp. 577-581 in G.P. Sackett, G. Ruppenthal, K. Elias (Eds.), Nursery Rearing of Nonhuman Primates in the
            21st Century. New York: Springer, 2006.
        </li>

        <li>
            Capitanio, J.P., Mason, W.A., Mendoza, S.P., Del Rosso, L.A., Roberts, J.A. Nursery rearing and
            biobehavioral organization. Pp. 191-213 in G.P. Sackett, G. Ruppenthal, K. Elias (Eds.), Nursery Rearing of
            Nonhuman Primates in the 21st Century. New York: Springer, 2006.
        </li>

        <li>
            Capitanio, J.P., Mendoza, S.P., Mason, W.A., Maninger, N. Rearing environment and
            hypothalamic-pituitary-adrenal regulation in young rhesus monkeys (Macaca mulatta). Developmental
            Psychobiology, 2005, 46, 318-330.
        </li>
    </ul>
</div>

</body>
</html>
<script type="text/javascript">
    var params = LABKEY.ActionURL.getParameters();
    document.getElementById(params['divId']).style.display = 'block';
</script>