<script type="text/javascript">

Ext4.onReady(function (){
    var webpart = <%=webpartContext%>;

    var domSpec = [
    {
        tag: 'div',
        id :'allAnimals_' + webpart.wrapperDivId
    }];

    var el = Ext4.get(webpart.wrapperDivId);
    Ext4.DomHelper.append(el, domSpec);

    var filterArray = [];
    if (LABKEY.ActionURL.getParameter('room')){
        filterArray.push(LABKEY.Filter.create('room', LABKEY.ActionURL.getParameter('room'), LABKEY.Filter.Types.EQUAL));
    }
    if (LABKEY.ActionURL.getParameter('cage')){
        filterArray.push(LABKEY.Filter.create('cage', LABKEY.ActionURL.getParameter('cage'), LABKEY.Filter.Types.EQUAL));
    }
    if (LABKEY.ActionURL.getParameter('location')){
        filterArray.push(LABKEY.Filter.create('location', LABKEY.ActionURL.getParameter('location'), LABKEY.Filter.Types.EQUAL));
    }

    LDK.Utils.getReadOnlyQWP({
        title: 'Location',
        schemaName: 'study',
        queryName: 'LocationReport',
        filterArray: filterArray,
        sort: '-Date'
    }).render('allAnimals_' + webpart.wrapperDivId);

});

</script>