<script type="text/javascript">

    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
        if (!ctx) {
            return;
        }

        Ext4.create('EHR.panel.SearchWithQWPPanel', {
            renderTo: webpart.wrapperDivId,
            schemaName: 'study',
            queryName: 'CaseManagement',
            searchViewName: 'Search Panel',
            allowSelectView: false
        });
    });

</script>