<style type="text/css">

    .right{
        float: right;
    }

    .left{
        float: left;
        width: 40%;
    }

    .center {
        margin: auto;
    }

    .labelCell {
        width: 10%
    }

    .valueCell {
        width: 30%
    }

    #pathologyAnimalSummary table {
        border: 1px solid lightgray;
    }

    #pathologyAnimalSummary td {
        border: 0px;
    }

</style>

<div id="pathologyHeader"></div>
<div id="pathologyAnimalSummary"></div>
<div id="pathologyReport"></div>
<div id="imageSection"></div>
<script type="text/javascript">

    +function($) {

        var reportHeader = '';
        var animalSummary = '';
        var report = '';
        var images = '';

        showPathologyReport(appendAnimalSummary, appendReport, appendImages);

        function appendHeader() {
            $("#pathologyHeader").html(reportHeader);
        }

        function appendAnimalSummary(animalSummaryData) {

            animalSummary = "<table class='table' style=\"width:75%\">" +
            "<tr>\n" +
                "<td class='labelCell'>Animal Id:</td>" + "<td class='valueCell'>" + animalSummaryData['Id'] + "</td>\n" +
                "<td class='labelCell'>Sex:</td>" + "<td class='valueCell'>" + animalSummaryData['sex'] + "</td>\n" +
                "<td class='labelCell'>Death Date:</td class='valueCell'>" + "<td>" + new Date(animalSummaryData['deathDate']).toLocaleDateString() + "</td>\n" +
             "</tr>\n" +
            "<tr>\n" +
                "<td class='labelCell'>Location:</td>" + "<td class='valueCell'>" + animalSummaryData['location'] + "</td>\n" +
                "<td class='labelCell'>Age:</td>" + "<td class='valueCell'>" +  animalSummaryData['age'] + "</td>\n" +
                "<td class='labelCell'>Death Type:</td>" + "<td class='valueCell'>" + animalSummaryData['deathType'] + "</td>\n" +
            "</tr>\n" +
            "<tr>\n" +
                "<td class='labelCell'>Investigator:</td>" + "<td class='valueCell'>" + animalSummaryData['investigator'] + "</td>\n" +
                "<td class='labelCell'>Project:</td>" + "<td class='valueCell'>" + animalSummaryData['project'] + "</td>\n" +
                "<td class='labelCell'>Charge Id:</td>" + "<td class='valueCell'>" + animalSummaryData['chargeId'] + "</td>\n" +
            "</tr>\n" +
            "<tr>\n" +
                "<td class='labelCell'>Pathologist:</td>" + "<td class='valueCell'>" + animalSummaryData['pathologist'] + "</td>\n" +
                "<td class='labelCell'>Clinician:</td>" + "<td class='valueCell'>" + animalSummaryData['clinician'] + "</td>\n" +
                "<td class='labelCell'>Work Performed: </td>" + "<td class='valueCell'>" + new Date(animalSummaryData['datePerformed']).toLocaleDateString() + "</td>\n" +
            "</tr>\n" +
            "<tr>\n" +
                "<td class='labelCell'>Weight (grams): </td>" + "<td>" + animalSummaryData['weightInGrams'] + "</td>\n" +
                "<td class='labelCell'>Pathology Condition:</td>" + "<td>" + animalSummaryData['pathologyCondition'] + "</td>\n" +
                "<td class='labelCell'>Hydration:</td>" + "<td>" + animalSummaryData['hydration'] + "</td>\n" +
            "</tr>\n";

            $("#pathologyAnimalSummary").html(animalSummary);
        }

        function appendReport() {
            $("#pathologyReport").html(report);
        }

        function appendImages() {
            $("#imageSection").html(images);
        }

        function showPathologyReport(animalSummCallbackFn, reportCallbackFn, imagesCallbackFn) {

            var reportCategory = LABKEY.ActionURL.getParameter('reportCategory');
            var reportId = LABKEY.ActionURL.getParameter('reportId');
            var reportType = LABKEY.ActionURL.getParameter('reportType');

            var animalSummaryData = {};

            animalSummary = getAnimalSummary(animalSummCallbackFn, animalSummaryData);

            if (reportCategory == "Biopsy") {

                reportHeader = getHeaderHtml(reportId, reportCategory);
                appendHeader();

                report = getBiopsyReport(reportCallbackFn);
                images = getImages(imagesCallbackFn);

            }
            else if (reportCategory == 'Necropsy') {

                var reportTitle = (reportType == 'NF') ? "Final Necropsy" : "Gross Necropsy";
                reportHeader = getHeaderHtml(reportId, reportTitle);
                appendHeader();

                report = getNecropsyReport(reportCallbackFn);
                images = getImages(imagesCallbackFn);

            }
        };

        function getAnimalSummary(callbackFn, animalSummaryData) {

            LABKEY.Query.selectRows({
                schemaName: "study",
                queryName: "demographicsPathologyAnimalSummary",
                scope: this,
                metadata: 'demographicsPathologySummary',
                filterArray: [
                    LABKEY.Filter.create('Id', LABKEY.ActionURL.getParameter('subjectId') , LABKEY.Filter.Types.EQUAL),
                ],
                success: function (result) {

                    var row = result.rows[0];

                    animalSummaryData['Id'] = row.Id;
                    animalSummaryData['sex'] = row.gender;
                    animalSummaryData['deathDate'] = row.death ? row.death : '';
                    animalSummaryData['deathType'] = row.deathType ? row.deathType : '';
                    animalSummaryData['weightInGrams'] = row.weightInGrams;
                    animalSummaryData['location'] = row.location;
                    animalSummaryData['age'] = row.age; //TODO: fix: age is not getting displayed as yy:mm:dd
                    animalSummaryData['project'] = row.project;
                    animalSummaryData['investigator'] = row.investigator ? row.investigator : '';
                    animalSummaryData['datePerformed'] = row.datePerformed ? row.datePerformed : ''; //TODO: fix: values do not match webvitals
                    animalSummaryData['pathologist'] = row.pathologist ? row.pathologist : '';
                    animalSummaryData['chargeId'] = row.chargeId ? row.chargeId : '';
                    animalSummaryData['hydration'] = row.hydration ? row.hydration : '';
                    animalSummaryData['pathologyCondition'] = row.pathologyCondition ? row.pathologyCondition : '';
                    animalSummaryData['clinician'] = row.clinician ? row.clinician : '';
                    callbackFn.call(this, animalSummaryData);
                }
            });
        };

        function getDemographicsInfo(callbackFn) {

            LABKEY.Query.selectRows({
                schemaName: "study",
                queryName: "demographics",
                success: function (result) {

                }
            });
        };

        function getBiopsyReport(callbackFn) {
//TODO:
        };

        function getNecropsyReport(callbackFn) {
//TODO:
        };

        function getImages(callbackFn) {
//TODO:
        };

        function getTimestamp() {
            var d = new Date();
            return d.toLocaleString(); //TODO: does this work, or the date need to be formatted as July 09, 2018 for ex.
        };

        function getHeaderHtml(reportId, reportCategory) {
            var rId = "Report Id: " + reportId + " ";
            var rep = reportCategory + " Report ";
            var ts = getTimestamp();

            return ('<h4>' +
                    '<span class="left">' + rId + '</span>' +
                    '<span class="center">' + rep + '</span>' +
                    '<span class="right">' + ts + '</span>' +
                    '</h4>');

        };
    }(jQuery);

</script>