.pathologyReportRight{
    float: right;
}

.pathologyReportLeft{
    float: left;
    width: 40%;
}

.pathologyReportCenter {
    margin: auto;
}

.summLabelCell {
    width: 10%
}

.summValueCell {
    width: 30%
}

.reportLabelCell {
    width: 10%
}

.reportValueCell {
    width: 50%
}

table.detail-table,
#pathologyAnimalSummary table
{
    border: 1px solid lightgray;
}

#pathologyAnimalSummary td {
    border: 0px;
}

#pathologyAnimalSummary {
    margin-top: 30px;
}

#pathologyBody {
    margin: 0px 20px;
}

#pathologyAll {
    margin: 10px 10px;
}

#pathologyBody h4 {
    margin-top: 30px;
}

h4.pathology {
    margin: 0px;
}

span.pathology {
    float: left;
    margin-right: 20px;
    font-size: 12px;
}